<h1>New User</h1>

<body>
<% if logged_in? == false %>
  <% flash.each do |type, msg| %>
    <div class = 'flash_alert'>
      <%= msg %>
    </div>
  <% end %>
  <%= render "form", article: @users %>

  <br> 
  Or sign-in with an existing username

  <%= render "signin", article: @users %> 
<% else %> 
  <%= "You are already signed in as #{current_user.name}. You must sign out to create a new user name."%>
  <%= button_to 'See All Events', events_path, method: :get %>
  <%= button_to 'Log Out', logout_path, method: :delete %>

<% end %>


</body>

