<body>
<br><br><br>

Upcoming Events (Host):
<% @user.events.upcoming.each do |event| %>
  <%= link_to event.title, event_path %> 
<% end %>
<br>

Upcoming Events (Guest):
<% @user.attended_events.upcoming.each do |event| %>
  <%= link_to event.title, event_path %> 
<% end %>
<br>

Past Events (Guest):
<% @user.attended_events.past.each do |event| %>
  <%= link_to event.title, event_path %> <br>
<% end %>


<br><br><br><br><br><br><br><br><br>

<%= button_to "Login", '/login', method: :get%>

<%= button_to "Sign Up", '/users/new', method: :get%>

</body>