<body>
<br><br><br>

Upcoming Events (Host):
<% @user.events.each do |event| %>
  <% if event.time.future?%>
    <%= link_to event.title, event_path %> 
  <% end %>
<% end %>
<br>

Upcoming Events (Guest):
<% @user.attended_events.each do |event| %>
  <% if event.time.future? %>
    <%= link_to event.title, event_path %> 
  <% end %>
<% end %>
<br>

Past Events (Guest):
<% @user.attended_events.each do |event| %>
  <% if event.time.past? %>
    <%= link_to event.title, event_path %> <br>
  <% end %>
<% end %>


<br><br><br><br><br><br><br><br><br>

<%= button_to "Login", '/login', method: :get%>

<%= button_to "Sign Up", '/users/new', method: :get%>

</body>