<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_area :title %><br>
    <%= form.label :time %><br>
    <%= form.datetime_select :time %><br>
    <% @event.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
