<h1> <%= @event.title %> </h1>

<p>
  <% if @event.host == current_user %>
    <%= "You are hosting this event, #{@event.host.name}" %> <br>
  <% end %>


  <%= link_to "RSVP", rsvp_event_path %>
    
  <br> Hosted by: <br>
  <%= @event.host.name %> <br>


  <br> Attending: <br>
  <% @event.attendees.each do |attendee| %>
    <%= attendee.name %><br>
  <% end %>
</p>